# ETL Silver ‚Üí Gold

Pipeline ETL para popular o Star Schema da camada Gold a partir dos dados limpos do Silver Layer.

**Objetivo:** Transformar dados normalizados em estrutura dimensional otimizada para an√°lises de BI.

## 1. Imports

Bibliotecas necess√°rias para o ETL.

In [1]:
import pandas as pd
import psycopg2
from psycopg2.extras import execute_batch
import warnings
from datetime import datetime

warnings.filterwarnings('ignore')
print("‚úì Bibliotecas importadas")

‚úì Bibliotecas importadas

## 2. Configura√ß√£o

Par√¢metros de conex√£o ao banco de dados PostgreSQL.

In [2]:
DB_CONFIG = {
    'host': 'localhost',
    'port': 5432,
    'database': 'airline_delays',
    'user': 'postgres',
    'password': 'postgres'
}

print("Configura√ß√£o do banco:")
print(f"  Host: {DB_CONFIG['host']}")
print(f"  Porta: {DB_CONFIG['port']}")
print(f"  Database: {DB_CONFIG['database']}")

Configura√ß√£o do banco:
  Host: localhost
  Porta: 5432
  Database: airline_delays

## 3. Diagn√≥stico Pr√©-ETL

Verifica o estado atual das tabelas antes do processamento.

In [3]:
print("="*70)
print("DIAGN√ìSTICO PR√â-ETL")
print("="*70)

conn_check = psycopg2.connect(**DB_CONFIG)
cur_check = conn_check.cursor()

# Verificar Silver
cur_check.execute("SELECT COUNT(*) FROM silver.airline_delays")
silver_total = cur_check.fetchone()[0]
print(f"\nüìä SILVER LAYER:")
print(f"   Total de registros: {silver_total:,}")

# Verificar estat√≠sticas
cur_check.execute("""
    SELECT 
        COUNT(DISTINCT carrier) as carriers,
        COUNT(DISTINCT airport) as airports,
        COUNT(DISTINCT year) as years,
        MIN(year) as year_min,
        MAX(year) as year_max
    FROM silver.airline_delays
""")
stats = cur_check.fetchone()
print(f"   Companhias distintas: {stats[0]}")
print(f"   Aeroportos distintos: {stats[1]}")
print(f"   Per√≠odo: {stats[3]} - {stats[4]} ({stats[2]} anos)")

# Verificar DW (se j√° existir)
try:
    cur_check.execute("SELECT COUNT(*) FROM dw.dim_carrier")
    dw_carrier = cur_check.fetchone()[0]
    cur_check.execute("SELECT COUNT(*) FROM dw.dim_airport")
    dw_airport = cur_check.fetchone()[0]
    cur_check.execute("SELECT COUNT(*) FROM dw.dim_time")
    dw_time = cur_check.fetchone()[0]
    cur_check.execute("SELECT COUNT(*) FROM dw.fact_flight_delays")
    dw_fact = cur_check.fetchone()[0]
    
    print(f"\nü•á DW LAYER (antes do ETL):")
    print(f"   dim_carrier: {dw_carrier:,}")
    print(f"   dim_airport: {dw_airport:,}")
    print(f"   dim_time: {dw_time:,}")
    print(f"   fact_flight_delays: {dw_fact:,}")
except:
    print(f"\nü•á DW LAYER: Schema ainda n√£o criado ou vazio")

print("\n" + "="*70)

if silver_total == 0:
    print("\n‚ö†Ô∏è  ALERTA: N√£o h√° dados na camada Silver!")
    print("   Execute primeiro o ETL Raw ‚Üí Silver")

cur_check.close()
conn_check.close()

======================================================================
DIAGN√ìSTICO PR√â-ETL
======================================================================

üìä SILVER LAYER:
   Total de registros: 171,666
   Companhias distintas: 21
   Aeroportos distintos: 395
   Per√≠odo: 2013 - 2023 (11 anos)

ü•á DW LAYER (antes do ETL):
   dim_carrier: 0
   dim_airport: 0
   dim_time: 0
   fact_flight_delays: 0

======================================================================

## 4. Criar Schema DW (se n√£o existir)

Executa o DDL para criar as tabelas dimensionais e fato.

In [4]:
print("Executando DDL da camada DW...")

conn = psycopg2.connect(**DB_CONFIG)
cur = conn.cursor()

# Ler e executar o DDL
with open('../Data Layer/gold/ddl.sql', 'r', encoding='utf-8') as f:
    ddl_sql = f.read()
    cur.execute(ddl_sql)
    conn.commit()

print("‚úì Schema DW criado com sucesso")
cur.close()
conn.close()

Executando DDL da camada DW...
‚úì Schema DW criado com sucesso

## 5. Carregar Dados do Silver

Leitura dos dados da tabela `silver.airline_delays`.

In [5]:
print("Conectando ao PostgreSQL e carregando dados do Silver...")
conn = psycopg2.connect(**DB_CONFIG)

query = """
    SELECT 
        year,
        month,
        carrier,
        carrier_name,
        airport,
        airport_name,
        arr_flights,
        arr_del15,
        carrier_ct,
        weather_ct,
        nas_ct,
        security_ct,
        late_aircraft_ct,
        arr_cancelled,
        arr_diverted,
        arr_delay,
        carrier_delay,
        weather_delay,
        nas_delay,
        security_delay,
        late_aircraft_delay
    FROM silver.airline_delays
    ORDER BY year, month, carrier, airport
"""

df = pd.read_sql_query(query, conn)
print(f"‚úì Carregados {len(df):,} registros do Silver")
print(f"\nPreview dos dados:")
display(df.head())
print(f"\nInfo do DataFrame:")
print(df.info())

Conectando ao PostgreSQL e carregando dados do Silver...
‚úì Carregados 171,666 registros do Silver

Preview dos dados:

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2013,8,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",60.0,12.0,4.47,0.00,...,0.0,4.42,0.0,0.0,500.0,129.0,0.0,93.0,0.0,278.0
1,2013,8,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",159.0,20.0,12.82,0.76,...,0.0,4.42,0.0,1.0,866.0,563.0,25.0,119.0,0.0,159.0
2,2013,8,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",584.0,132.0,22.57,4.22,...,0.0,49.80,17.0,0.0,7220.0,1688.0,353.0,2147.0,0.0,3032.0
3,2013,8,9E,Endeavor Air Inc.,ATW,"Appleton, WI: Appleton International",214.0,27.0,12.36,0.98,...,0.0,3.42,1.0,0.0,1174.0,584.0,93.0,278.0,0.0,219.0
4,2013,8,9E,Endeavor Air Inc.,AUS,"Austin, TX: Austin - Bergstrom International",185.0,35.0,16.24,0.00,...,0.0,11.84,2.0,0.0,2107.0,926.0,0.0,272.0,0.0,909.0

Info do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171666 entries, 0 to 171665
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 171666 non-null  int64
 1   month                171666 non-null  int64
 2   carrier              171666 non-null  object
 3   carrier_name         171666 non-null  object
 4   airport              171666 non-null  object
 5   airport_name         171666 non-null  object
 6   arr_flights          171426 non-null  float64
 7   arr_del15            171223 non-null  float64
 8   carrier_ct           171426 non-null  float64
 9   weather_ct           171426 non-null  float64
 10  nas_ct               171426 non-null  float64
 11  security_ct          171426 non-null  float64
 12  late_aircraft_ct     171426 non-null  float64
 13  arr_cancelled        171426 non-null  float64
 14  arr_diverted         171426 non-null  float64
 15  arr_delay            171426 non-null  float64
 16  carrier_delay        171426 non-null  float64
 17  weather_delay        171426 non-null  float64
 18  nas_delay            171426 non-null  float64
 19  security_delay       171426 non-null  float64
 20  late_aircraft_delay  171426 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 27.5+ MB
None

## 6. Preparar Cursor

Cria cursor para opera√ß√µes no banco.

In [6]:
cur = conn.cursor()
print("‚úì Cursor criado")

‚úì Cursor criado

## 7. Limpar Tabelas DW

Remove dados antigos para reprocessamento.

In [7]:
print("Limpando tabelas DW...")
cur.execute("TRUNCATE TABLE dw.fact_flight_delays, dw.dim_carrier, dw.dim_airport, dw.dim_time CASCADE;")
conn.commit()
print("‚úì Tabelas limpas")

Limpando tabelas DW...
‚úì Tabelas limpas

## 8. Dimens√£o Tempo (dim_time)

Popula a dimens√£o temporal com atributos calculados.

In [8]:
print("Populando dim_time...")

# Obter combina√ß√µes √∫nicas de year-month
time_data = df[['year', 'month']].drop_duplicates().sort_values(['year', 'month'])

data = []
meses_nomes = [
    'Janeiro', 'Fevereiro', 'Mar√ßo', 'Abril', 'Maio', 'Junho',
    'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
]

for _, row in time_data.iterrows():
    year = int(row['year'])
    month = int(row['month'])
    
    trimestre = (month - 1) // 3 + 1
    semestre = 1 if month <= 6 else 2
    mes_nome = meses_nomes[month - 1]
    mes_ano = f"{year}-{month:02d}"
    ano_trimestre = f"{year}-Q{trimestre}"
    
    data.append((
        year,
        month,
        trimestre,
        semestre,
        mes_nome,
        mes_ano,
        ano_trimestre
    ))

execute_batch(cur, """
    INSERT INTO dw.dim_time 
    (year, month, trimestre, semestre, mes_nome, mes_ano, ano_trimestre)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    ON CONFLICT (year, month) DO NOTHING
""", data)
conn.commit()

print(f"‚úì dim_time populada com {len(data):,} registros")

Populando dim_time...
‚úì dim_time populada com 121 registros

## 9. Dimens√£o Companhia A√©rea (dim_carrier)

Popula a dimens√£o de companhias a√©reas.

In [9]:
print("Populando dim_carrier...")

# Obter carriers √∫nicos
carriers = df[['carrier', 'carrier_name']].drop_duplicates()

data = []
for _, row in carriers.iterrows():
    carrier_code = str(row['carrier']) if pd.notna(row['carrier']) else 'UNKNOWN'
    carrier_name = str(row['carrier_name']) if pd.notna(row['carrier_name']) else 'Unknown Carrier'
    data.append((carrier_code, carrier_name))

execute_batch(cur, """
    INSERT INTO dw.dim_carrier (carrier_code, carrier_name)
    VALUES (%s, %s)
    ON CONFLICT (carrier_code) DO UPDATE SET
        carrier_name = EXCLUDED.carrier_name,
        data_atualizacao = NOW()
""", data)
conn.commit()

print(f"‚úì dim_carrier populada com {len(data):,} registros")

Populando dim_carrier...
‚úì dim_carrier populada com 23 registros

## 10. Dimens√£o Aeroporto (dim_airport)

Popula a dimens√£o de aeroportos.

In [10]:
print("Populando dim_airport...")

# Obter airports √∫nicos
airports = df[['airport', 'airport_name']].drop_duplicates()

data = []
for _, row in airports.iterrows():
    airport_code = str(row['airport']) if pd.notna(row['airport']) else 'UNKNOWN'
    airport_name = str(row['airport_name']) if pd.notna(row['airport_name']) else 'Unknown Airport'
    data.append((airport_code, airport_name))

execute_batch(cur, """
    INSERT INTO dw.dim_airport (airport_code, airport_name)
    VALUES (%s, %s)
    ON CONFLICT (airport_code) DO UPDATE SET
        airport_name = EXCLUDED.airport_name,
        data_atualizacao = NOW()
""", data)
conn.commit()

print(f"‚úì dim_airport populada com {len(data):,} registros")

Populando dim_airport...
‚úì dim_airport populada com 419 registros

## 11. Buscar Chaves Surrogate

Cria dicion√°rios para mapear c√≥digos naturais ‚Üí surrogate keys.

In [11]:
print("Buscando surrogate keys...")

# Carrier keys
cur.execute("SELECT carrier_code, carrier_key FROM dw.dim_carrier")
carrier_to_key = dict(cur.fetchall())
print(f"  ‚úì {len(carrier_to_key)} carriers mapeados")

# Airport keys
cur.execute("SELECT airport_code, airport_key FROM dw.dim_airport")
airport_to_key = dict(cur.fetchall())
print(f"  ‚úì {len(airport_to_key)} airports mapeados")

# Time keys
cur.execute("SELECT year, month, time_key FROM dw.dim_time")
time_to_key = {(year, month): key for year, month, key in cur.fetchall()}
print(f"  ‚úì {len(time_to_key)} per√≠odos mapeados")

Buscando surrogate keys...
  ‚úì 21 carriers mapeados
  ‚úì 395 airports mapeados
  ‚úì 121 per√≠odos mapeados

## 12. Tabela Fato (fact_flight_delays)

Popula a tabela fato com todas as m√©tricas, conectando as 3 dimens√µes.

In [12]:
print("Populando fact_flight_delays...")

data = []
skipped = 0

for _, row in df.iterrows():
    # Buscar FKs (surrogate keys)
    carrier_srk = carrier_to_key.get(str(row['carrier']))
    airport_srk = airport_to_key.get(str(row['airport']))
    time_srk = time_to_key.get((int(row['year']), int(row['month'])))
    
    # Se alguma FK faltar, pular
    if not (carrier_srk and airport_srk and time_srk):
        skipped += 1
        continue
    
    # Calcular m√©tricas derivadas
    arr_flights = float(row['arr_flights']) if pd.notna(row['arr_flights']) else 0
    arr_del15 = float(row['arr_del15']) if pd.notna(row['arr_del15']) else 0
    arr_cancelled = float(row['arr_cancelled']) if pd.notna(row['arr_cancelled']) else 0
    arr_diverted = float(row['arr_diverted']) if pd.notna(row['arr_diverted']) else 0
    arr_delay = float(row['arr_delay']) if pd.notna(row['arr_delay']) else 0
    
    # Taxas calculadas
    delay_rate = (arr_del15 / arr_flights * 100) if arr_flights > 0 else 0
    cancellation_rate = (arr_cancelled / arr_flights * 100) if arr_flights > 0 else 0
    diversion_rate = (arr_diverted / arr_flights * 100) if arr_flights > 0 else 0
    avg_delay_minutes = (arr_delay / arr_flights) if arr_flights > 0 else 0
    on_time_rate = 100 - delay_rate
    
    # Montar tupla com SRKs
    data.append((
        carrier_srk,
        airport_srk,
        time_srk,
        arr_flights,
        arr_del15,
        arr_cancelled,
        arr_diverted,
        float(row['carrier_ct']) if pd.notna(row['carrier_ct']) else 0,
        float(row['weather_ct']) if pd.notna(row['weather_ct']) else 0,
        float(row['nas_ct']) if pd.notna(row['nas_ct']) else 0,
        float(row['security_ct']) if pd.notna(row['security_ct']) else 0,
        float(row['late_aircraft_ct']) if pd.notna(row['late_aircraft_ct']) else 0,
        arr_delay,
        float(row['carrier_delay']) if pd.notna(row['carrier_delay']) else 0,
        float(row['weather_delay']) if pd.notna(row['weather_delay']) else 0,
        float(row['nas_delay']) if pd.notna(row['nas_delay']) else 0,
        float(row['security_delay']) if pd.notna(row['security_delay']) else 0,
        float(row['late_aircraft_delay']) if pd.notna(row['late_aircraft_delay']) else 0,
        round(delay_rate, 2),
        round(cancellation_rate, 2),
        round(diversion_rate, 2),
        round(avg_delay_minutes, 2),
        round(on_time_rate, 2)
    ))

print(f"  Processando {len(data):,} registros...")

# Inserir em batch (usando _srk nas colunas)
execute_batch(cur, """
    INSERT INTO dw.fact_flight_delays 
    (carrier_srk, airport_srk, time_srk,
     arr_flights, arr_del15, arr_cancelled, arr_diverted,
     carrier_ct, weather_ct, nas_ct, security_ct, late_aircraft_ct,
     arr_delay, carrier_delay, weather_delay, nas_delay, security_delay, late_aircraft_delay,
     delay_rate, cancellation_rate, diversion_rate, avg_delay_minutes, on_time_rate)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
""", data, page_size=1000)
conn.commit()

print(f"‚úì fact_flight_delays populada com {len(data):,} registros")
if skipped > 0:
    print(f"‚ö†Ô∏è  {skipped} registros ignorados (FKs inv√°lidas)")

Populando fact_flight_delays...
  Processando 171,666 registros...
‚úì fact_flight_delays populada com 171,666 registros

## 13. Valida√ß√£o Final

Verifica contagens e calcula m√©tricas de neg√≥cio.

In [13]:
print("="*70)
print("VALIDA√á√ÉO P√ìS-ETL")
print("="*70)

# Contar registros
cur.execute("SELECT COUNT(*) FROM dw.dim_carrier")
carrier_count = cur.fetchone()[0]

cur.execute("SELECT COUNT(*) FROM dw.dim_airport")
airport_count = cur.fetchone()[0]

cur.execute("SELECT COUNT(*) FROM dw.dim_time")
time_count = cur.fetchone()[0]

cur.execute("SELECT COUNT(*) FROM dw.fact_flight_delays")
fact_count = cur.fetchone()[0]

print(f"\nüìä Registros criados:")
print(f"   dim_carrier: {carrier_count:,}")
print(f"   dim_airport: {airport_count:,}")
print(f"   dim_time: {time_count:,}")
print(f"   fact_flight_delays: {fact_count:,}")

# M√©tricas de neg√≥cio
cur.execute("""
    SELECT 
        SUM(arr_flights) as total_voos,
        SUM(arr_del15) as total_atrasos,
        ROUND(AVG(delay_rate), 2) as taxa_atraso_media,
        ROUND(AVG(on_time_rate), 2) as taxa_pontualidade_media,
        SUM(arr_cancelled) as total_cancelamentos
    FROM dw.fact_flight_delays
""")
metrics = cur.fetchone()

print(f"\nüìà M√©tricas de Neg√≥cio:")
print(f"   Total de Voos: {metrics[0]:,.0f}")
print(f"   Total de Atrasos ‚â•15min: {metrics[1]:,.0f}")
print(f"   Taxa de Atraso M√©dia: {metrics[2]:.2f}%")
print(f"   Taxa de Pontualidade M√©dia: {metrics[3]:.2f}%")
print(f"   Total de Cancelamentos: {metrics[4]:,.0f}")

# Sample da fato (usando _srk nos JOINs)
print(f"\nüîç Sample da Tabela Fato:")
sample_query = """
    SELECT 
        c.carrier_name,
        a.airport_name,
        t.mes_ano,
        f.arr_flights,
        f.delay_rate,
        f.on_time_rate
    FROM dw.fact_flight_delays f
    JOIN dw.dim_carrier c ON f.carrier_srk = c.carrier_key
    JOIN dw.dim_airport a ON f.airport_srk = a.airport_key
    JOIN dw.dim_time t ON f.time_srk = t.time_key
    ORDER BY f.arr_flights DESC
    LIMIT 5
"""
df_sample = pd.read_sql_query(sample_query, conn)
display(df_sample)

print("\n" + "="*70)

if fact_count > 0:
    print("\n‚úÖ ETL SILVER ‚Üí GOLD CONCLU√çDO COM SUCESSO!")
    print("\nüéØ Pr√≥ximos passos:")
    print("   1. Execute as consultas anal√≠ticas em consultas.sql")
    print("   2. Conecte o Power BI √† camada DW")
    print("   3. Crie dashboards interativos")
else:
    print("\n‚ö†Ô∏è  ALERTA: Tabela fato vazia!")

cur.close()
conn.close()
print("\n‚úì Conex√£o encerrada")

======================================================================
VALIDA√á√ÉO P√ìS-ETL
======================================================================

üìä Registros criados:
   dim_carrier: 21
   dim_airport: 395
   dim_time: 121
   fact_flight_delays: 171,666

üìà M√©tricas de Neg√≥cio:
   Total de Voos: 62,146,805
   Total de Atrasos ‚â•15min: 11,375,095
   Taxa de Atraso M√©dia: 18.29%
   Taxa de Pontualidade M√©dia: 81.71%
   Total de Cancelamentos: 1,290,923

üîç Sample da Tabela Fato:

,carrier_name,airport_name,mes_ano,arr_flights,delay_rate,on_time_rate
0,Delta Air Lines Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2016-08,21977.0,15.05,84.95
1,Delta Air Lines Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2018-08,21931.0,13.00,87.00
2,Delta Air Lines Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2019-08,21873.0,12.48,87.52
3,Delta Air Lines Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2019-07,21839.0,16.05,83.95
4,Delta Air Lines Inc.,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2018-07,21688.0,15.32,84.68

======================================================================

‚úÖ ETL SILVER ‚Üí GOLD CONCLU√çDO COM SUCESSO!

üéØ Pr√≥ximos passos:
   1. Execute as consultas anal√≠ticas em consultas.sql
   2. Conecte o Power BI √† camada DW
   3. Crie dashboards interativos

‚úì Conex√£o encerrada